# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!packages.txt
!.ideavimrc

# Whitelist
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *

# .config dir
!.config/
